@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

@font-face {
  font-family: "FrutillaScript";
  src: url("/fonts/FrutillaScript.woff") format("woff");
}

@font-face {
  font-family: "StellaWilson";
  src: url("/fonts/StellaWilson.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black font-josefin;
}
